<div *ngIf="paragraph" class="app-paragraph">
  <p class="app-title">{{ paragraph.name }}</p>
  <p *ngIf="!paragraph.isTranslationSummary" class="app-highlight card app-font-large">
    <ng-container *ngFor="let contentPart of paragraph.content" class="app-paragraph-words-container"><span
	  #tooltip
	  [matTooltipTouchGestures]="'on'"
	  [matTooltip]="contentPart.tooltip ?? ''"
      [matTooltipPosition]="'above'"
      [matTooltipDisabled]="contentPart.tooltip == null"
	  [innerHTML] = "contentPart.text"
      [ngClass]="{ 'app-has-tooltip' : contentPart.tooltip }"></span></ng-container>
  </p>
  <p *ngIf="paragraph.isTranslationSummary" class="app-summary">
    <ng-container *ngFor="let contentPart of paragraph.content" class="app-paragraph-words-container"> <span
	  #tooltip
	  [matTooltipTouchGestures]="'on'"
	  [matTooltip]="contentPart.tooltip ?? ''"
      [matTooltipPosition]="'above'"
      [matTooltipDisabled]="contentPart.tooltip == null"
	  [innerHTML] = "contentPart.text"
      [ngClass]="{ 'app-has-tooltip' : contentPart.tooltip }"></span>&nbsp;</ng-container>
  </p>
  <br />
  <div *ngIf="paragraph.paraphrase && paragraph.paraphrase.length > 0" class="app-highlight card">
    <p class="app-paraphrase-title  app-font-medium">{{ paragraph.paraphraseTitle }}</p>
    <p class="app-font-medium">
      <span *ngFor="let paraphrasePart of paragraph.paraphrase" [ngClass]="{ 'app-is-bracket' : paraphrasePart.isBracket}">{{ paraphrasePart.text }}</span>
    </p>
  </div>
  <hr *ngIf="paragraph.paraphrase"/>
</div>
