.app-bio-content {
  width: 100%;
  background:white;
  height:100%;
  padding:10px
}

.app-bio-content img {
  margin: 0px !important;
  padding: 0px !important;
}

.app-image {
  background-image: url(/assets/arunachala.png);
  background-size:auto;
  height:350px;
  width:100%;
  margin: 0px !important;
  padding: 0px !important;
}

.app-interactive-tile {
  width:100px;
  height:100px;
  background-color: black;
  color:white
}

.app-tiles-parent {
  display: flex;
  justify-content: left;
  justify-content: center;
}

.app-interactive-tile {
  width:200px;
  height:200px;
  background-color: #f0f0f0;
  color:black;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: 0.3s
}

.app-interactive-tile:hover {
  background-color: black;
  color:white;
  transition: 1s
}

.app-bio-content hero {
  display: flex;
  justify-content: center;
}
